*{
    margin: 0%;
    padding: 0%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1{
    text-align: center;
    padding: 10px;
}
form {
    margin-bottom: 20px;
}

#results {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#loading {
    font-size: 18px;
    color: #333;
}
.nav-bar{
    height: 60px;
    width: 100%;
    background-color: rgb(1, 1, 148);
    color: burlywood;
}
body{
    background-color: rgba(219, 235, 241, 0.6);
}
.heading-nav{
    font-family: cursive;
    text-align: center;
    padding-top: 1%;
}
.nav-barr{
    height: 65px;
    width: 100%;
    background-color: rgb(84, 84, 200);
    display: flex;
}
.home{
    padding: 10px;
    text-align: center;
    padding-left: 80px;
}
.home i{
    font-size: 25px;

}
.home p{
    font-family:cursive;
    font-size: 12px;
}
.chat{
    padding: 10px;
    text-align: center;
    padding-left: 80px;
}
.chat i{
    font-size: 25px;
}
.chat p{
    font-family:cursive;
    font-size: 12px;
}
.video{
    padding: 10px;
    text-align: center;
    padding-left: 80px;
}
.video i{
    font-size: 25px;
}
.video p{
    font-family:cursive;
    font-size: 12px;
}
.website-search{
    padding: 10px;
    text-align: center;
    padding-left: 80px;
}
.website-search i{
    font-size: 25px;
}
.website-search p{
    font-family:cursive;
    font-size: 12px;
}
.mode{
    padding: 10px;
    text-align: center;
    padding-left: 80px;
}
.mode i{
    font-size: 25px;
}
.mode p{
    font-family:cursive;
    font-size: 12px;
}
.lang{
background-color: rgba(0, 0, 0, 0.811);
color: white;
height: 30px;
width: 100px;
font-size: 15px;
margin-top: 20px;
font-family:  Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
border-radius: 4px;
margin-left: 80px;
}
input{
    height: 25px;
        width: 50%;
        margin-top: 10px;
        border-radius: 50px;
        align-items: center;
}
button{
    height: 30px;
    width: 10%;
    border-radius: 12%;
    background-color: rgb(84, 84, 200);
}
#results{
    color: black;
}