<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Fake News📰 Detection System</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
	<header>
        <div class="nav-bar" >
            <h1 class="heading-nav">WEBGAURD</h1>
        </div>
    </header>
 <div class="login">
	<h1>Fake News📰 Detection</h1>

    <form action="{{ url_for('predict')}}" method="POST">
    	<textarea  name="message" rows="6" cols="50" required="required" style="font-size: 18pt"></textarea>
		<br> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

        	<div class="results">

	{% if prediction == ['FAKE']%}
	<h2 style="color:red;">Looking Spam⚠️News📰 </h2>
	{% elif prediction == ['REAL']%}
				<h2 style="color:green;"><b>Looking Real News📰</b></h2>
	{% endif %}

	</div>

    </form>

</div>
	</body>
    <script>
        let b = document.querySelector(".mode");
                let cur="light"
                b.addEventListener("click",(evt)=>{
                    if(cur==="light"){
                        cur="dark";
                        document.body.style.background= "rgb(2, 2, 33)";
                        document.body.style.color="burlywood";
                    }
                    else{
                        cur="light";
                        document.body.style.background= "rgba(219, 235, 241, 0.6)";
                        document.body.style.color="black";
                    }
                })
    </script>
	</html>